CancelChequeService_Laptop.wsdl

<wsdl:definitions name="CancelChequeServiceService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:blueprism:webservice:cancelchequeservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:blueprism:webservice:cancelchequeservice">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:blueprism:webservice:cancelchequeservice" xmlns:tns="urn:blueprism:webservice:cancelchequeservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="CancelChequeService" type="tns:CancelChequeService"/>
			<xs:element name="CancelChequeServiceResponse" type="tns:CancelChequeServiceResponse"/>
			<xs:complexType name="CancelChequeService">
				<xs:sequence>
					<xs:element minOccurs="0" name="BusinessAccountNumber" type="xs:string"/>
					<xs:element minOccurs="0" name="ChequeNumber" type="xs:decimal"/>
					<xs:element minOccurs="0" name="ChequeAmount" type="xs:string"/>
					<xs:element minOccurs="0" name="StopReason" type="xs:string"/>
					<xs:element minOccurs="0" name="Payee" type="xs:string"/>
					<xs:element minOccurs="0" name="Ifotherpleasespecify" type="xs:string"/>
					<xs:element minOccurs="0" name="SortCode" type="xs:string"/>
					<xs:element minOccurs="0" name="ChequeDate" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CancelChequeServiceResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="Success" type="xs:boolean"/>
					<xs:element minOccurs="0" name="Exception" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="CancelChequeService">
		<wsdl:part element="tns:CancelChequeService" name="CancelChequeService"/>
	</wsdl:message>
	<wsdl:message name="CancelChequeServiceResponse">
		<wsdl:part element="tns:CancelChequeServiceResponse" name="CancelChequeServiceResponse"/>
	</wsdl:message>
	<wsdl:portType name="CancelChequeService">
		<wsdl:operation name="CancelChequeService">
			<wsdl:input message="tns:CancelChequeService" name="CancelChequeService"/>
			<wsdl:output message="tns:CancelChequeServiceResponse" name="CancelChequeServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CancelChequeServiceSoapBinding" type="tns:CancelChequeService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CancelChequeService">
			<soap:operation soapAction="urn:CancelChequeService" style="document"/>
			<wsdl:input name="CancelChequeService">
				<soap:body namespace="urn:blueprism:webservice:cancelchequeservice" use="literal"/>
			</wsdl:input>
			<wsdl:output name="CancelChequeServiceResponse">
				<soap:body namespace="urn:blueprism:webservice:cancelchequeservice" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CancelChequeService">
		<wsdl:port binding="tns:CancelChequeServiceSoapBinding" name="CancelChequeServicePort">
			    <soap:address location="http://GBLA220350:8181/ws/CancelChequeService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>